<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
    <div>
        <label for="name">id:</label>
        <input type="text" id="id" th:field="*{student.id}" required/>
    </div>
    <div>
        <label for="name">名前:</label>
        <input type="text" id="name" th:field="*{student.name}" required/>
    </div>
    <div>
        <label for="kanaName">カナ名:</label>
        <input type="text" id="kanaName" th:field="*{student.kanaName}" required/>
    </div>

    <div>
        <label for="nickname">ニックネーム:</label>
        <input type="text" id="nickname" th:field="*{student.nickname}" required/>
    </div>

    <div>
        <label for="email">メールアドレス:</label>
        <input type="text" id="email" th:field="*{student.email}" required/>
    </div>

    <div>
        <label for="area">地域:</label>
        <input type="text" id="area" th:field="*{student.area}" required/>
    </div>

    <div>
        <label for="age">年齢:</label>
        <input type="text" id="age" th:field="*{student.age}" required/>
    </div>

    <div>
        <label for="sex">性別(男:女):</label>
        <select id="sex" th:field="*{student.sex}">
            <option value="">選択してください</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
    </div>
    <div>
        <label>備考欄:</label>
        <textarea id="remark" th:field="*{student.remark}" rows="5" cols="40"
        ></textarea>
    </div>

    <h2>コース情報</h2>
    <div>
        <label for="courseId">コースID:</label>
        <input type="text" th:field="*{studentCourse.courseId}" id="courseId"/><br/>
    </div>
    <div>
        <label for="id">ID:</label>
        <input type="text" th:field="*{studentCourse.id}" /><br/>
    </div>
        <div>
            <label for="courseName">コース名:</label>
            <input type="text" th:field="*{studentCourse.courseName}" id="courseName"/><br/>
        </div>

        <div>
            <label for="courseStart">開始日:</label>
            <input type="date" th:field="*{studentCourse.courseStart}" id="courseStart"/><br/>
        </div>

        <div>
            <label for="courseEnd">終了日:</label>
            <input type="date" th:field="*{studentCourse.courseEnd}" id="courseEnd"/><br/>
        </div>

    </div>
    <button type="submit">登録</button>
    </div>
</form>
</body>
</html>