<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生更新</title>
</head>
<body>
<h1>受講生更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
    <div>
        <label>名前:</label>
        <a href="/students/list">学生一覧へ</a>

    </div>
    <div>
        <label for="kanaName">カナ名:</label>
        <input type="text" id="kanaName" th:field="*{student.kanaName}" required/>
    </div>

    <div>
        <label for="nickname">ニックネーム:</label>
        <input type="text" id="nickname" th:field="*{student.nickname}" required/>
    </div>

    <div>
        <label for="email">メールアドレス:</label>
        <input type="text" id="email" th:field="*{student.email}" required/>
    </div>

    <div>
        <label for="area">地域:</label>
        <input type="text" id="area" th:field="*{student.area}" required/>
    </div>

    <div>
        <label for="age">年齢:</label>
        <input type="text" id="age" th:field="*{student.age}" required/>
    </div>

    <div>
        <label for="sex">性別(男:女):</label>
        <select id="sex" th:field="*{student.sex}">
            <option value="">選択してください</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
    </div>
    <div>
        <label>備考欄:</label>
        <textarea id="remark" th:field="*{student.remark}" rows="5" cols="40"
        ></textarea>
    </div>
    <div th:each="course, stat : *{studentCourses}">
        <label for="courseName">受講生コース名: </label>
        <input type="text" id="courseName" th:id="studentCourse.__${stat.index}__.courseName"
               th:field="*{studentCourses[__${stat.index}__].courseName}"/>
    </div>
    <div>
        <button type="submit">更新</button>
    </div>
</form>
</body>
</html>